<!DOCTYPE html>
<!-- Coding by CodingLab || www.codinglabweb.com -->
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Website with Login & Registration Form</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <!-- Unicons -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" />
  </head>
  <body>

    <!-- Home -->
    <section class="home">
    <div style="background-color: transparent; border: 2px solid transparent; height: 100%; display: block;">
      <div style="height: 500px; width: 1200px; color: white; border: 2px solid transparent; margin-top: 100px; margin-left: 20px; display: flex;">
        <div style="width: 100%; margin-top: 100px; margin-left: 40px; margin-bottom: 150px;">
            <p style="cursor: pointer; font-size: 20px;"><a href="/" style="color: white;">Go Back</a></p>
            <h1 style="font-size: 50px;">Something Went <span style="color: rgb(255, 0, 255);; font-size: 50px;">Wrong!</span></h1>
        </div>
      </div>
    </div>
    

    </section>


    <script src="/javascripts/script.js"></script>
  </body>
</html>
